@import 'https://rsms.me/inter/inter.css';
@import 'katex/dist/katex.min.css';
@import 'tailwindcss';

@theme {
  --font-sans: InterVariable, sans-serif;
}

body {
  font-family: var(--font-sans);
}

.no-new-line-in-cell {
  tr,
  td {
    white-space: nowrap;
  }
}

@media all and (min-width: 0px) and (max-width: 900px) {
  .katex-display > .katex > .katex-html {
    overflow: auto;
  }
}

.katex-display > .katex > .katex-html {
  padding-left: 2rem;
}
